<header>
  <div class="app-bar promote-layer paper-toolbar paper-shadow">
    <div class="app-bar-container paper-toolbar">
      <h1 class="logo">Vehicle Dashboard</h1>
      <div class="control">
        <input type="checkbox" (change)='toggle()' id="id-name--1" name="set-name" class="switch-input">
        <label for="id-name--1" class="switch-label">Inactive only</label>
      </div>
      <div class="control"><a href="">Owner 1</a></div>
      <div class="control"><a href="">Owner 2</a></div>
      <div class="control"><a href="">Owner 3</a></div>
    </div>
  </div>
</header>
